@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', sans-serif; 
}

body {
    min-height: 100vh;
    background-color: #e6e3c9;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    background-color: #a19d78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 28px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
}

.info {
    position: relative;
    top: 200px;
    left: 0px;
    color:#7a7759;
    align-items: center;
    text-align: center;
}
.info pre {
    
    background-color:#dfdbbd;
}